* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ebdbb2;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #282828;
  position: relative;
  min-height: 100vh;
  width: 100%;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  align-items: center;
}

header {
  text-align: center;
  background-color: #1d2021;
  width: 100%;
  position: sticky; 
  top: 0;
}

footer {
  text-align: center;
  bottom: 0;
  padding: 20px;
  font-family: 'Inconsolata', monospace;
  font-style: italic;
  color: #928374;
}

a {
  transition: color 0.15s;
}

nav {
  border-bottom: 1px solid #a89984;
  text-align: center;
  padding: 10px;
}

nav > ul > li {
  display: inline-block;
  padding: 10px;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  font-size: 24px;
}

body::-webkit-scrollbar {
  display: none;
}

a:hover {
  color: rgba(235, 219, 178, 0.7);
}

.logo {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-size: 32px;
}

.logo > a {
  text-decoration: none;
  margin: 10px;
}

.card_link {
  text-decoration: none;
}


.card_link:hover {
  text-decoration: none;
  
}

.card {
  padding: 15px;
  padding-left: 20%;
  padding-right: 20%;
  border-bottom: 1px solid #a89984;
  line-height: 1.3;
  transition: box-shadow 0.15s;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card > h1 {
  font-family: 'Karla', sans-serif;
}

.card > h3 {
  font-family: 'Karla', sans-serif;
  font-style: italic;
  color: #928374;
}

.card > p {
  font-family: 'Inconsolata', monospace;
  font-size: large;
}

.card > ul > li {
  display: inline-block;
  font-style: italic;
  font-family: 'Inconsolata', monospace;
  padding-right: 5px;
  color: #928374;
}

@font-face {
  /* For headers, titles */
  font-family: 'Karla', sans-serif;
}

@font-face {
  /* For body, links */
  font-family: 'Inconsolata', monospace;
}