* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Console", "Courier New", monospace;
}

body {
  background-color: #EFE5D5;
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background: #405D47;
  padding: 6px 14px;
  transition: all 0.5s ease;
}

.sidebar.active {
  width: 240px;
}

.sidebar .logo_content .logo {
  color: #EFE5D5;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  font-size: 32px;
  font-weight: 400;
  margin-right: 5px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  transition: all 0.5s ease;
}

.sidebar.active .logo_content .logo {
  transition: all 0.5s ease;
  opacity: 1;
  pointer-events: none;
}

.sidebar #btn {
  position: absolute;
  left: 50%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  color: #EFE5D5; 
}

.sidebar.active #btn {
  left: 90%;
}

.sidebar ul li {
  list-style: none;
  height: 50px;
  width: 100%;
  position: relative;
  margin: 0 5px;
  line-height: 50px;
}

.sidebar ul li a {
  color: #EFE5D5;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 12px;
  white-space: nowrap;
}

.sidebar ul li a:hover {
  background: #EFE5D5;
  color: #405D47;
}

.sidebar ul li a i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

.sidebar .links_name {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.sidebar.active .links_name {
  opacity: 1;
  pointer-events: auto;
}

.nav_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.profile {
  transition: all 0s;
  margin: 10px;
  display: flex;
  align-items: center;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.quote {
  transition: all 0.5s ease;
  margin: 10px;
  display: flex;
  align-items: center;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transform: translateY(300%);
}

.quote p {
  text-align: center;
  color: #EFE5D5;
}

.sidebar.active .quote {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.5s ease;
}

.sidebar.active .profile {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.5s ease;
}

.profile img {
  object-fit: cover;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.content {
  position: absolute;
  height: 100%;
  width: calc(100% - 78px);
  left: 78px;
  transition: all 0.5s ease;
}

.content .text {
  font-size: 32px;
  font-weight: 500;
  margin: 12px;
}

.content .text p {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.sidebar.active ~ .content {
  width: calc(100% - 240px);
  left: 240px;
}