* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Console", "Courier New", monospace;
}

body {
  background-color: #EFE5D5;
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 240px;
  background: #405D47;
  padding: 6px 14px;
}

.sidebar .logo_content .logo {
  color: #EFE5D5;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  font-size: 32px;
  font-weight: 400;
  margin-right: 5px;
}

.sidebar #btn {
  position: absolute;
  left: 90%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  color: #EFE5D5; 
}

.sidebar ul li {
  list-style: none;
  height: 50px;
  width: 100%;
  position: relative;
  margin: 0 5px;
  line-height: 50px;
}

.sidebar ul li a {
  color: #EFE5D5;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
}

.sidebar ul li a:hover {
  background: #EFE5D5;
  color: #405D47;
}

.sidebar ul li a i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

.nav_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.profile_content .profile .profile_details img {
  position: relative;
  object-fit: cover;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}