<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>{{ config.extra.site_name }}</title>

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="{{ config.description }}">
<meta name="author" content="{{ config.extra.author.name }}">
<link href="{{ config.base_url }}/styles.css" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

<link rel="apple-touch-icon" sizes="180x180" href="{{ config.base_url }}/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ config.base_url }}/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ config.base_url }}/icons/favicon-16x16.png">
<link rel="manifest" href="{{ config.base_url }}/icons/site.webmanifest">
<link rel="shortcut icon" href="{{ config.base_url }}/icons/favicon.ico">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="msapplication-config" content="{{ config.base_url }}/icons/browserconfig.xml">

<meta name="theme-color" content="#ffffff">

{% block rss %}
  <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path='atom.xml', trailing_slash=false) }}">
{% endblock %}

</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KX18D3WPKP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KX18D3WPKP');
</script>
<body>

<div class="sidebar">
<h1>(╭ರ_•́) daniel yu</h1>
<a href="{{ get_url(path='@/_index.md') }}">Home</a> | 
<a href="{{ get_url(path='@/about/_index.md') }}">About</a> | 
<a href="{{ get_url(path='@/archive/_index.md') }}">Archive</a> | 
<a href="{{ get_url(path='@/links/_index.md') }}">Links</a>
</div>

{% block content %}
{% endblock %}

</body>
</html>